body {
  background-color: #fcfcfc !important;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; }
  body main {
    text-align: center;
    padding: 1em;
    max-width: 100%;
    margin: 0 auto;
    -webkit-box-shadow: 4px 2px 15px 0px rgba(0, 0, 0, 0.82);
    box-shadow: 4px 2px 15px 0px rgba(0, 0, 0, 0.82); }
    @media (min-width: 1200px) {
      body main {
        max-width: 1400px; } }
    body main li {
      font-size: 18px;
      min-width: 20%;
      border: 0; }
    body main li.active {
      border: 0;
      border-bottom: solid #689eef; }
      body main li.active span {
        border: 0 !important; }
    body main .sel_tab {
      display: inline-block;
      flex-wrap: wrap;
      width: 100%;
      text-align: center;
      margin-top: 30px; }
      @media (min-width: 1200px) {
        body main .sel_tab {
          max-width: 1400px;
          margin: 30px; } }
      body main .sel_tab label {
        text-align: left;
        margin-bottom: 10px; }
      body main .sel_tab .flag-return {
        cursor: pointer; }
      body main .sel_tab .dropdown-toggle {
        text-align: left;
        margin-bottom: 0;
        padding: 10px;
        width: 100%; }
      body main .sel_tab .equal-div {
        margin: 20px; }
      body main .sel_tab .btn-secondary,
      body main .sel_tab .btn-check:active + .btn-secondary:focus,
      body main .sel_tab .btn-check:checked + .btn-secondary:focus,
      body main .sel_tab .btn-secondary.active:focus,
      body main .sel_tab .btn-secondary:active:focus,
      body main .sel_tab .show > .btn-secondary.dropdown-toggle:focus {
        color: #000 !important;
        background-color: #f1f1f1 !important;
        border: 0; }
      body main .sel_tab .equals {
        border-radius: 50px;
        background-color: #e4efff;
        width: 40px;
        height: 40px;
        color: #9090e9;
        font-size: 40px;
        font-weight: bold;
        line-height: 30px;
        float: left; }
      body main .sel_tab .equals-border {
        border: 1px solid #ebebeb;
        height: 20px;
        border-right: 0;
        border-left: 0;
        max-width: 80%;
        display: grid;
        margin-left: 60px;
        margin-top: 10px; }
      body main .sel_tab .dropdown-toggle:after {
        float: right;
        margin-top: 10px; }
      body main .sel_tab .sell-btn {
        min-width: 200px;
        padding: 10px;
        float: right;
        background: #7070fd;
        color: #fff;
        font-size: 20px;
        margin-top: 20px; }
    body main a:hover {
      text-decoration: underline; }
    body main a:visited {
      color: #333; }
    body main label {
      display: block; }
    body main input,
    body main button,
    body main select,
    body main textarea {
      font-family: inherit;
      font-size: inherit;
      -webkit-padding: 0.4em 0;
      padding: 10px;
      margin: 0 0 0.5em 0;
      box-sizing: border-box;
      border-radius: 4px;
      background: #f1f1f1;
      border: 0; }
    body main input:disabled {
      color: #ccc; }
    body main button {
      background-color: #ccc;
      border: 0;
      color: #0a1562;
      border: 4px; }
    body main .flag-return {
      padding: 10px; }
      body main .flag-return img {
        float: left; }
      body main .flag-return button {
        display: contents; }
    body main .exchange {
      margin: 10px;
      text-align: left; }
      body main .exchange .firstexchange {
        padding: 20px;
        margin-bottom: 2px;
        background: #e1e7f3;
        border-radius: 4px; }
      body main .exchange .secondexchange {
        padding: 20px;
        background: #d0d8e9;
        border-radius: 4px; }
      body main .exchange .amount {
        padding-right: 10px; }
      body main .exchange .c1,
      body main .exchange .per,
      body main .exchange .fa-alarm-clock {
        padding-right: 5px; }
      body main .exchange .totalexchange.col-lg-12 {
        background: #141440;
        color: #fff;
        padding: 10px;
        min-height: 60px;
        line-height: 40px; }
    body main .USD {
      background-image: url("https://demos.creative-tim.com/argon-dashboard-pro/assets/img/icons/flags/US.png");
      height: 20px;
      width: 20px;
      float: left;
      margin-right: 5px; }
    body main .GBP {
      background-image: url("https://catamphetamine.gitlab.io/country-flag-icons/3x2/GB.svg");
      height: 20px;
      width: 20px;
      float: left;
      margin-right: 5px; }
    body main .SGD {
      background-image: url("https://catamphetamine.gitlab.io/country-flag-icons/3x2/SG.svg");
      height: 20px;
      width: 20px;
      float: left;
      margin-right: 5px; }
    body main .CAD {
      background-image: url("https://catamphetamine.gitlab.io/country-flag-icons/3x2/CA.svg");
      height: 20px;
      width: 20px;
      float: left;
      margin-right: 5px; }
    body main .JPY {
      background-image: url("https://catamphetamine.gitlab.io/country-flag-icons/3x2/JP.svg");
      height: 20px;
      width: 20px;
      float: left;
      margin-right: 5px; }
    body main .AUD {
      background-image: url("https://catamphetamine.gitlab.io/country-flag-icons/3x2/AT.svg");
      height: 20px;
      width: 20px;
      float: left;
      margin-right: 5px; }
    body main .EUR {
      background-image: url("https://catamphetamine.gitlab.io/country-flag-icons/3x2/EU.svg");
      height: 20px;
      width: 20px;
      float: left;
      margin-right: 5px; }
    body main .cryptoimg {
      height: 20px;
      width: 20px;
      float: left;
      margin-right: 5px; }

/*# sourceMappingURL=global.css.map */
